<section class="video-review-section">
	<div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
{% if section.settings.heading != blank %}
  <div class="section-header">
    <h2 class="h1">{{ section.settings.heading | escape }}</h2>
  </div>
{% endif %}
      <div class="review-text">
        <p>{{ section.settings.text-video-one }}</p>
      </div>
          
<div class="grid wrapper">
  <div class="grid-item one-whole">
    <div class="video-wrapper">
      {% if section.settings.video_url == blank %}
        <iframe src="//www.youtube.com/embed/_9VUPq3SxOc?rel=0&showinfo=0&vq=720" width="850" height="480" frameborder="0" allowfullscreen></iframe>
      {% else %}
        {% if section.settings.video_url.type == "youtube" %}
          <iframe src="//www.youtube.com/embed/{{ section.settings.video_url.id }}?rel=0&showinfo=0&vq=720" width="850" height="480" frameborder="0" allowfullscreen></iframe>
        {% endif %}
        {% if section.settings.video_url.type == "vimeo" %}
          <iframe src="//player.vimeo.com/video/{{ section.settings.video_url.id }}?byline=0&portrait=0&badge=0" width="850" height="480" frameborder="0" allowfullscreen></iframe>
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>
        </div>
      </div>
  </div>
</section>


{% schema %}
{
"name": "Video Review Section", // Section name
  "class": "banner-data",
"settings": [
   {
      "type": "text",
      "id": "heading",
      "label": "Heading"
},
{
    "id": "text-video-one",
    "type": "richtext",
    "label": "Add custom text below"
},
 {
      "type": "video_url",
      "id": "video_url",
      "label": "Your Video",
      "accept": [
        "youtube",
        "vimeo"
      ]
    }
],
"presets": [
{
"name": "Video Review Section",
"category": "Video Review LAYOUT"
}
]
}
{% endschema %}
{% stylesheet %}  
{% endstylesheet %}
{% javascript %}
{% endjavascript %}
